<!DOCTYPE html>
<html>
  <head>
    <title>Jaunt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <meta name="description" content="_" />
    <meta name="title" property="og:title" content="_" />
    <meta property="og:type" content="_" />
    <meta name="image" property="og:image" content="<%= image_url('meta.jpg') %>"  />
    <meta name="description" property="og:description" content="_" /><meta name="author" content="_" />



    <script type="text/javascript">
      window.airbnbicon = "<%=image_url('airbnbicon.png')  %>"
      window.airbnbblack = "<%=image_url('airbnbblack.png')  %>"
      window.homepagepic = "<%=image_url('homepagepic.jpg')  %>"
      window.globeicon = "<%=image_url('globe.svg')  %>"
      window.menuicon = "<%=image_url('menu.svg')  %>"
      window.searchicon = "<%=image_url('search.svg')  %>"
      window.usericon = "<%=image_url('usericon.svg')  %>"
      window.linkedin = "<%=image_url('linkedin.png')  %>"
      window.github = "<%=image_url('githublogo.png')  %>"
      window.al = "<%=image_url('al.png')  %>"
      window.facebook = "<%=image_url('Facebook-logo.png')  %>"
      window.aA = "<%=image_url('aA.png')  %>"
      window.x = "<%=image_url('x.svg')  %>"
      window.mht1 = "<%=image_url('mht1.png')  %>"
      window.mht2 = "<%=image_url('mht2.png')  %>"
      window.mht3 = "<%=image_url('mht3.png')  %>"
      window.mht4 = "<%=image_url('mht4.png')  %>"
      window.mht5 = "<%=image_url('mht5.png')  %>"
      window.star = "<%=image_url('star.svg')  %>"
      window.aventura = "<%=image_url('aventura.png')  %>"
      window.hollywood = "<%=image_url('hollywood.png')  %>"
      window.davenport = "<%=image_url('davenport.png')  %>"
      window.boca = "<%=image_url('boca.png')  %>"
      window.tampa = "<%=image_url('tampa.png')  %>"
      window.miami = "<%=image_url('miami.png')  %>"
      window.keywest = "<%=image_url('keywest.png')  %>"
      window.kissimmee = "<%=image_url('kissimmee.png')  %>"
      window.dishes = "<%=image_url('dishes.png')  %>"
      window.etw1 = "<%=image_url('etw1.png')  %>"
      window.etw2 = "<%=image_url('etw2.png')  %>"
      window.etw3 = "<%=image_url('etw3.png')  %>"
      window.elon = "<%=image_url('elon.png')  %>"
      window.door = "<%=image_url('door.svg')  %>"
      window.clean = "<%=image_url('clean.svg')  %>"
      window.house = "<%=image_url('house.svg')  %>"
      window.rules = "<%=image_url('rules.svg')  %>"
      window.cal = "<%=image_url('cal.svg')  %>"
      window.w1 = "<%=image_url('w1.png')  %>"
      window.w2 = "<%=image_url('w2.png')  %>"
      window.w3 = "<%=image_url('w3.png')  %>"
      window.w4 = "<%=image_url('w4.png')  %>"
      window.w5 = "<%=image_url('w5.png')  %>"
      window.hotel11 = "<%=image_url('hotel11.png')  %>"
      window.hotel12 = "<%=image_url('hotel12.png')  %>"
      window.hotel13 = "<%=image_url('hotel13.png')  %>"
      window.hotel14 = "<%=image_url('hotel14.png')  %>"
      window.hotel15 = "<%=image_url('hotel15.png')  %>"


    </script>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}"%>
    
    <%= stylesheet_link_tag 'application', media: 'all' %> <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

