<!DOCTYPE html>
<html>
  <head>
    <title>Jaunt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <script type="text/javascript">
      window.airbnbicon = "<%=image_url('airbnbicon.png')  %>"
      window.homepagepic = "<%=image_url('homepagepic.jpg')  %>"
      window.globeicon = "<%=image_url('globe.svg')  %>"
      window.menuicon = "<%=image_url('menu.svg')  %>"
      window.searchicon = "<%=image_url('search.svg')  %>"
      window.usericon = "<%=image_url('usericon.svg')  %>"
      window.linkedin = "<%=image_url('linkedin.png')  %>"
      window.github = "<%=image_url('githublogo.png')  %>"
      window.google = "<%=image_url('google.png')  %>"
      window.facebook = "<%=image_url('Facebook-logo.png')  %>"
      window.aA = "<%=image_url('aA.png')  %>"
      window.x = "<%=image_url('x.svg')  %>"


    </script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

